<form class="login-form">
    <label for="username">
        <span class="loginform-helper-icon username-icon">{{#str}} username, core {{/str}}</span>
    </label>
    <input id="username" name="username" type="text">

    <label for="password">
        <span class="loginform-helper-icon password-icon">{{#str}} password, core {{/str}}</span>
    </label>
    <input id="password" name="password" type="password">
</form>
